@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
*{
  padding: 0px;
  margin: 0px;
  font-family: "Bree Serif", serif;
  color: black;
  
}
/*
.color_black{
  color: black;
}*/
.color_whight{
  color: white;
}
.height-100vh{
  height: 80vh;
}
/* footer*/
.footer-basic {
  padding: 10px 0;
  background-color: #312e2e;
  bottom: 0%;
  width: 100%;
}
.list-inline{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 5px;
  color: white;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/*hover*/

.hover_item:hover{
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  padding: 1px 5px;
  color: black;
}

.text_align_center{
  text-align: center;
}



#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 575.98px) { 
  .footer_page{
    flex-direction: column;
  }
}